/*exercise.css file*/

body {
    width: 800px;
    height: auto;
    border: 3px solid #945023;
    background-color: blanchedalmond;
    text-align: left;
}

html {
    background-color: white;
}

h1 {
    background-image: -moz-linear-gradient(75deg, orange 0%, white 30%, white 70%, orange 100%);
    background-image: -webkit-linear-gradient(75deg, orange 0%, white 30%, white 70%, orange 100%);
    background-image: -o-linear-gradient(75deg, orange 0%, white 30%, white 70%, orange 100%);
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 3px solid #945023;
    text-align: center;
    color: rgb(61, 173, 136);
    text-shadow: 3px 3px #353535;
    font-size: 50px;
    width: auto;
    height: 50px;
    padding-bottom: 30px;
}

h2 {
    color: rgb(202, 91, 110);
    font-size: 30px;
    margin-left: 15px;
    border-bottom: 5px dotted #945023;
    padding: 10px;
}

.section1 {
    column-count: 2;
    column-gap: 0;
    column-rule-style: none;
    border: 20px groove #a89f9f;
    border-radius: 130%;
    margin: 5px;
}

#box1 {
    width: 300px;
    height: 400px;
    margin: 15px 0 15px 15px;
    border: 20px groove #c89266;
    padding: 5px 0 5px 5px;
    position: relative;
}

#box2 {
    width: 300px;
    height: 400px;
    margin: 35px 15px 15px 0;
    border: 20px groove #5b79b9;
    padding: 15px, 5px, 5px, 0;
    position: relative;
}

#image {
    float: right;
    height: 100px;
    width: auto;
}

p {
    word-spacing: 3px;
    word-break: unset;
    text-indent: 2em;
}